*{
    margin: 0;
    padding: 0;
}
.App{
    background-color: rgb(18, 18, 53);
    padding-top: 10px;
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: monospace;
}
.logo-container{
    min-width: fit-content;
    font-size: 1.5rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border-radius: 5px;
}
.cristian{
    color: blueviolet;
}
.log{
    color: rgb(156, 0, 0);
    display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
}
.hola{
    color: rgb(168, 168, 0);
}
.calculator-container{
    width: 400px;
    height: auto;
    padding: 14px;
    background-color: rgb(231, 153, 124);
    border-radius: 10px;
    border: 5px solid white;

}
.fila{
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}













